<!-- LEFT PANE -->
<div class="col-xs-12 col-sm-7">

    <!-- ABOUT ME -->
     <div class="box">
        <h2>About Me</h2>
        <p class="well-sm">I am an aspiring computer science major who loves Unix and emerging open source technologies. I have an inherent nature of derivative creativity. I like modifying and integrating existing tools in an innovative manner to create better and more useful ones. I am a lifelong and fast learner.</p>
    </div>
    <div class="box">
        <div class="alert alert-warning">
          <p><strong><i class="fa fa-diamond fa-spin-custom"></i> &nbsp; I'm currently interested in web application development using Ruby on Rails.</strong></p>
        </div>
    </div>

    <!-- EXPERIENCES -->
    <div class="box">
        <h2>Experiences</h2>
          <div class="job clearfix">
            <div class="col-xs-3">
                <div class="where">Hotel Linkage</div>
                <div class="year">2015</div>
            </div>
            <div class="col-xs-9">
                <div class="profession">Web Application Developer</div>
                <div class="description">I built an in-house web based revenue analysis tool that calculates profitabilities of hotels combining mathematical equations with data scraped from several online travel agency websites and meta search engines.</div>
            </div>
        </div>
        <div class="job clearfix">
            <div class="col-xs-3">
                <div class="where">Özgür Yazılım AŞ</div>
                <div class="year">2013 - 2014</div>
            </div>
            <div class="col-xs-9">
                <div class="profession">Jr. Ruby on Rails Developer (Intern)</div>
                <div class="description">I actively took part in the development of a corporate web application built for a client. I later had to drop the internship due to time constraints and to work on a new startup.</div>
            </div>
        </div>
       <div class="job clearfix">
            <div class="col-xs-3">
                <div class="where">Istanbul Şehir University</div>
                <div class="year">2012</div>
            </div>
            <div class="col-xs-9">
                <div class="profession">Web Application Developer (Intern)</div>
                <div class="description">I wrote a web application for reporting false positives in the university's web filter. Students can add and vote for websites. Administrators can accept or reject suggestions. The web application interfaces with the firewall API and automatically white-lists relevant URLs.</div>
            </div>
        </div>
    </div>

   <!-- TIMELINE -->
    <div class="box">
        <h2>Timeline</h2>
        <ul id="education" class="clearfix">
            <li>
                <div class="year pull-left">1991</div>
                <div class="description pull-right">
                    <h3><i class="fa fa-heartbeat"></i> I was born in Bakırköy, Istanbul</h3>
                    <p>On the twenty-third of April, which is <a href="http://en.wikipedia.org/wiki/National_Sovereignty_and_Children%27s_Day#Turkey" target="_blank">a great day</a> and a guaranteed <a href="./images/childrens_day.jpg" target="_blank">holiday</a>.</p>
                </div>
            </li>
            <li>
                <div class="year pull-left">1997</div>
                <div class="description pull-right">
                    <h3><i class="fa fa-child"></i> Primary Education</h3>
                    <p>I studied at <a href="https://www.linkedin.com/company/pakistan-international-school-cairo" target="_blank">Pakistan International School, Cairo</a> with friends from all over the world.</p>
                </div>
            </li>
            <li>
                <div class="year pull-left">2007</div>
                <div class="description pull-right">
                    <h3><i class="fa fa-building-o"></i> Secondary Education</h3>
                    <p>I studied at <a href="http://frzal.meb.k12.tr/" target="_blank">Fatin Rüştü Zorlu</a> <a href="http://en.wikipedia.org/wiki/Anatolian_High_School" target="_blank">Anatolian High School</a> with specialization on science and math.</p>
                </div>
            </li>
            <li>
                <div class="year pull-left">2010</div>
                <div class="description pull-right">
                    <h3><i class="fa fa-university"></i> Higher Education</h3>
                    <p>Currently studying Computer Science at <a href="http://www.sehir.edu.tr/en/" target="_blank">Istanbul Şehir University</a>.</p>
                </div>
            </li>
        </ul>
    </div>

</div>
