<div class="container">

    <!-- HEADLINE -->
    <%= partial "headline" %>

    <!-- RESUME -->
    <div class="row">
      <%= partial "left_pane" %>
      <%= partial "right_pane" %>
    </div>

</div>
